<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations; let o = odd"
    [class.highlight]="!o" class="monospace">
    <td>{{location.id}}</td>
    <td>{{location.latitude}}</td>
    <td>{{location.longitude}}</td>
    <td><button (click)="delete(location)">Delete</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td><input type="number" [(ngModel)]="latitude" placeholder="latitude"/></td>
      <td><input type="number" [(ngModel)]="longitude"  placeholder="longitude"/></td>
      <td><button (click)="add()">Add</button></td>
    </tr>
  </tfoot>
</table>